@import "variables";

.post {
    width: 100%;
    text-align: left;

    &:not(:last-of-type) {
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 20px;
    }

    &-title {
        --border: 3px dotted var(--accent);
        position: relative;
        color: var(--accent);
        margin: 0 0 8px;
        padding-top: 20px;
        padding-bottom: 15px;
        border-bottom: var(--border);

        &:after {
            content: '';
            position: absolute;
            bottom: 2px;
            display: block;
            width: 100%;
            border-bottom: var(--border);
        }

        a {
            text-decoration: none;
        }
    }


    &-metatitle {
        color: var(--accent-secondary);
    }

    &-content {
        h1, h2, h3, h4, h5, h6 {
            font-size: $font-size + 0.1rem;
            color: var(--accent-secondary);

            .zola-anchor {
                font-size: 1.5rem;
                visibility: hidden;
                margin-left: 0.5rem;
                vertial-align: 1%;
                text-decoration: none;
                border-bottom-color: transparent;
                cursor: pointer;
            }

            @media(max-width: $phone-max-width) {
                visibility: visible;
            }
        }


        h1:before {
            content: "# ";
        }

        h2:before {
            content: "## ";
        }

        h3:before {
            content: "### ";
        }

        // jetbrainsmono only goes up to 4 ligatures
        h4:before,
        h5:before,
        h6:before {
            content: "#### ";
        }

        ul {
            list-style: none;
            padding-left: 10px;
            margin-left: 0px;

            li {
                padding-left: 10px;
            }

            li:before {
                content: '*';
                position: absolute;
                left: -10px;
                color: var(--accent);
            }
        }

        code {
            font-family: 'JetBrainsMono', Menlo, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
            font-feature-settings: normal;
            background: var(--accent-alpha-20);
            padding: 1px 6px;
            color: var(--accent);
            margin: 0 2px;
            font-size: 0.95rem;
            border-radius: $corner-radius;
        }
        pre {
            font-family: 'JetBrainsMono', Menlo, DejaVu Sans Mono, Monaco, Consolas, Ubuntu Mono, monospace;
            font-size: 0.95rem;
            padding: 15px 10px;
            border-radius: $corner-radius;
            border: 1px solid var(--border-color);
            overflow: auto;

            code {
                color: inherit;
                background: none !important;
                margin: 0;
                padding: 0;
                font-size: inherit;
                border: none;
            }
        }
    }

    .pre-list {
    
        border-bottom: 1px solid var(--border-secondary-color);
    }
}

.meta {
    &-page {
        font-size: 1rem;
        color: var(--accent-alpha-70);
    }

    &-list {
        color: var(--color);

        &.meta-title {
            color: var(--accent-secondary);
        }
    }
}

.post-list {
    font-size: 1rem;
    list-style: none;

    li:before {
        content: '</>';
        position: absolute;
        left: -33px;
        color: var(--accent-alpha-70);
    }

    li {
        padding-left: 5px;
    }

    @media(max-width: $phone-max-width) {
        margin-left: 33px;
    }
}
