// https://stackoverflow.com/questions/17285514/is-it-possible-to-make-a-squiggly-line

.squiggle {
    &-holder {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 15px;
    }
    
    &-ellipse {
      position: absolute;
      background: radial-gradient(ellipse, transparent, transparent 3px, var(--border-color) 3px, var(--border-color) 5px, transparent 5px);
      background-size: 16px 15px;
      width: 100%;
      height: 7.5px;
    }

    &-ellipse2 {
      top: 7.42px;
      left: 8px;
      background-clip: padding-box;
      background-position: 0px -7.5px;
    }
}
