{% extends "base.html" %}

{% block main %}
    <div class="post">
        <h1 class="post-title">
            #tags
        </h1>

        <ul class="taxonomy-list">
            {% for term in terms %}
                <li>
                    <a href="{{ get_taxonomy_url(kind="tags", name=term.name) }}">{{ term.name }}</a>
                    ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock main %}
