{% macro copyright(config) %}
  <div class="copyright">
      <span>
          © {{ now() | date(format="%Y") }} {{ config.extra.copyright | safe}} ::
          Powered by
          {{ url::external(url="https://getzola.org/", text="Zola", icon=false) }}
          and
          {{ url::external(url="https://netlify.com/", text="Netlify", icon=false) }}
      </span>
      <span>
          Like this site? see {{ url::external(url="https://github.com/jordanisaacs/personal-website", text="source code here", icon=false) }}
      </span>
  </div>
{% endmacro copyright %}

{% macro script() %}
    <script type="text/javascript" src="{{ get_url(path="js/main.js") }}"></script>
{% endmacro script %}
