{% extends "base.html" %}

{% block content %}

<h1 class="title">
    {{ section.title }}
</h1>

<ul>
    {% for page in paginator.pages %}
    <li>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <br/>
        {{ page.summary | safe }}
        <a href="{{page.permalink }}#continue-reading">Continue reading</a>
    </li>
    {% endfor %}
</ul>

<nav class="pagination">
    {% if paginator.current_index == 0 %}
      <a class="first" href="{{ paginator.first }}">First</a>
    {% endif %}
    {% if paginator.previous %}
      <a class="previous" href="{{ paginator.previous }}">< Previous</a>
    {% endif %}
    {% if paginator.next %}
      <a class="next" href="{{ paginator.next }}">Next ></a>
    {% endif %}
</nav>
{% endblock content %}
